# *.jpg
# *.png
data
*.avi
*feh_*
*.pkl
*__pycache__*
*tmp*
*.idea
*.DS_Store*
*egg-info*
*.ply*
*linecount*
*pytest_cache*
*.vscode*
*dsprites-dataset*

diffsolver/program/clause/output.txt

*.code-workspace*

*.so*
*build

*imgui.ini*

#third_party
*logs*

rl2seq

*plot_table*

cpt/model
cpt/data
solver/model
solver/data

*HW*

# chaoyi's local files
*.hdf5
# *.txt
*chaoyi*
*webm*
*events*
*Log*
*zhiao3_disk1*
*.npz*
*.mp4
*.webm
*.png
# *.json
*partnet-mobility-dataset*
*.pt
*.pcd
*.zip
*.tiny

# sapien
sapien*

*.gif
*.VSCodeCounter
*.cache*
frontend/data/*
frontend/flaskr/static/*.png
instance

*.ruby-version
diffsolver/nlm/*/output
diffsolver/nlm/output
diffsolver/examples/output
diffsolver/single_stage
diffsolver/multistage
diffsolver/examples/Tasks
diffsolver/assets/TASK*
diffsolver/*.png
wandb

*.obj
*.tar.gz