<form action="{{ url_for('scene.start') }}" method="post">
    <input type="submit" value="refresh" name="refresh">
    <input type="text" name="title" id="title">
    <input type="submit" value="done" name="done">
</a>


<iframe src="http://127.0.0.1:5001/vnc.html?host=127.0.0.1&port=5001" width="100%" height="500px" allowfullscreen="true"></iframe>
<!-- <iframe src="http://visiongpu49.csail.mit.edu:5001/vnc.html?host=visiongpu49.csail.mit.edu&port=5001" width="100%" height="1000px"></iframe> -->

{% for scene in scenes %}
<article class="post">
    <header>
    <div>
        <h1>Scene {{ scene['id'] }}</h1>
    </div>
    </header>


    {% include 'scene/scene_teaser.html' %}
</article>
{% if not loop.last %}
    <hr>
{% endif %}
{% endfor %}

<form action="{{ url_for('scene.start') }}" method="post">
    <input type="submit" value="refresh" name="refresh">
    <input type="text" name="title" id="title">
    <input type="submit" value="done" name="done">
</a>